<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/vendor/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <title>Audit office</title>
</head>

<body id="home">
    <section class="main">
        <div id="Content" class="wrapper topSection">
            <div id="Header">
                <div class="wrapper">
                    <div class="error"><h1><img th:src="@{img/logo1.png}"/>Error</h1>	</div>
                </div>
            </div>
            <h2>An error occurred, please pardon our dust!</h2>
        </div>
    </section>
    </body>
</html>
